.es-pill {
    display: inline-block;
    padding: var(--lwc-varSpacingXxSmall);
    margin: 0.15rem;
}
.selected {
    background-color: #393939;
}
.selected .label-color {
    color: var(--lwc-colorTextInverse);
}
